.about {
  min-height: 1050px;
  background-image: url("../img/about/about-foreground.png"),
    url("../img/about/about-background.png");
  background-repeat: no-repeat;
  background-position: 49% 33%;
}
