.header {
  width: 100%;
  background-color: rgba(0, 8, 12, 0.1);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .main-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__links {
      list-style: none;
      display: flex;

      font-family: "Dosis", sans-serif;
      font-size: 1.1rem;
      text-transform: uppercase;

      li {
        margin: 0 1.5rem;
        position: relative;

        a {
          color: $gray-text;
          cursor: pointer;

          .link-underline {
            position: absolute;
            top: 125%;
            left: -5%;
            width: 0%;
            height: 2px;
            background-color: #000;
            transition: 0.3s;
          }

          &:hover {
            color: #000;

            .link-underline {
              width: 110%;
            }
          }

          &.active {
            color: #000;

            .link-underline {
              width: 110%;
            }
          }
        }
      }
    }
  }
}
