.new-tracks {
    margin-top: 3rem;
    padding-top: 60px;

    &__list {
        display: grid;
        grid-template-columns: 380px 380px 380px;
        grid-template-rows: 420px 420px;
        grid-gap: 30px;
        justify-content: center;
        margin-bottom: 3rem;

        font-family: "Open-sans", sans-serif;

        .track {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;

            &__date {
                border-bottom: 2px #000 solid;
                padding-bottom: 8px;
                margin-bottom: 4px;
                color: $gray-text;
                width: 100%;
                display: block;
                font-weight: 600;
            }

            &__album {
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;
            }

            &__title {
                font-size: 1.5rem;
                margin: 2rem 0;
                min-height: 50px;
                font-weight: 400;
            }

            &__description {
                color: #acacac;
                font-size: 0.9rem;
                line-height: 1.4rem;
                max-height: 65px;
                overflow: hidden;
            }

            &__number {
                position: absolute;
                bottom: -3rem;
                right: 1rem;
                font-size: 5rem;
                color: #000;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(
                    rgba(0, 0, 0, 0.17),
                    rgba(0, 0, 0, 0.17)
                );
            }
        }
    }
}

@media (max-width: 1200px) {
    .new-tracks {
        margin-top: 0;
        padding-top: 0;
        &__list {
            grid-template-columns: 380px 380px;
            grid-template-rows: 420px 420px 420px;
        }
    }
}

@media (max-width: 850px) {
    .new-tracks {
        margin-top: 0;
        padding-top: 0;
        &__list {
            grid-template-columns: 380px;
            grid-template-rows: repeat(420px);
        }
    }
}
