.slider {
    margin-top: 3rem;
    background: url("../img/slider/slider.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 640px;
}

@media (max-width: 1200px) {
    .slider {
        height: 380px;
    }
}
